body {
    margin: 0;
    padding: 0;
    background: #39C8FF;
}

.loginBox, .resetBox {
    width: 400px;
    height: 300px;
    background: white;
    border-radius: 16px;
    left: 50%;
    top: 40%;
    margin: -150px 0 0 -200px;
    position: absolute;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
}

.loginBox p, .resetBox p {
    text-align: center;
    font-size: 32px;
}

.loginBox input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 11px;
    border: 1px solid #E5E5E5;
    position: relative;
}

.resetBox input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 11px;
    border: 1px solid #E5E5E5;
    position: relative;
}

.button {
    width: 150px;
    height: 35px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
    border-radius: 11px;
    background-color: #09023B;
    color: white;
    position: relative;
    margin-left: 25px;
}

#resetButton {
    margin-left: 15px;
    appearance: button;
    text-align: center;
    text-decoration: none;
    padding-top: 9px;
    height: 26px;
}

.button:hover {
    cursor: pointer;
    color:#006DFF;
}

.resetBox {
    width: 400px;
    height: 360px;
}

#centeredButton {
    left: 50%;
    margin-left: -75px;
}

.centeredDiv {
    width: 800px;
    height: 300px;
    left: 50%;
    top: 10%;
    margin: -50px 0 0 -400px;
    position: absolute;
    font-family: Helvetica, sans-serif;
}

.centeredDiv h1 {
    text-align: center;
    font-size: 46px;
}

.errorBox {
    width: 350px;
    height: 50px;
    background: #EE8F86;
    border-radius: 16px;
    left: 50%;
    top: 80%;
    margin: 90px 0 0 -175px;
    position: absolute;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
}

.errorBox p {
    text-align: center;
    color: #E21D0B;
    font-size: 1em;
}

.logoutBox {
    width: 350px;
    height: 50px;
    background: #87F67D;
    border-radius: 16px;
    left: 50%;
    top: 80%;
    margin: 90px 0 0 -175px;
    position: absolute;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0 15px 15px 15px;
}

.logoutBox p {
    text-align: center;
    color: #16CC06;
    font-size: 1em;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
    background-color: #09023B;
    border-radius: 11px;
    margin: 10px 5px;
    height: 22px;
}

.navBar a {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #E5E5E5;
    text-decoration: none;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navBar a:hover {
    color:#006DFF;
}

.operationPanel {
    width: calc(100vw - 10px);
    height: 85%;
    background: white;
    border-radius: 16px;
    margin: 0 5px;
    position: absolute;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 25px 25px 25px 25px;
}

.welcomeMessagePanel {
    font-size: 66px;
    position: relative;
    width: 800px;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -400px;
    text-align: center;
}

.generalForm input[type="text"] {
    width: 300px;
    height: 28px;
    text-align: center;
    margin-bottom: 20px;

    border-radius: 11px;
    border: 1px solid #E5E5E5;
    position: relative;
}

.flexField {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 60px;
    align-items: center;
    margin-left: 10px;
}

.flexField label {
    margin-top: -12px;
}

#registrationButton {
    margin-top: 20px;
    margin-left: 10px;
    width: 165px;
}

.generalField {
    background-color: white;
    color: black;
}

#transactionButton {
    margin-top: 20px;
    margin-left: 10px;
    width: 180px;
}