<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://kit.fontawesome.com/cdd8dae3e7.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navBar">
    <img src="logo.png" alt="logo">
    <nav>
        <ul class="navLinks">
            <li><a href="/client/accountInfo">Vizualizare cont</a></li>
            <li><a href="/client/makeTransaction">Realizare tranzacții</a></li>
            <li><a href="/client/viewTransactions">Vizualizare tranzacții</a></li>
        </ul>
    </nav>
    <a href="#"><i class="fas fa-door-open fa-2x"></i></a>
</header>
<div class="operationPanel">
    <div class="welcomeMessagePanel">
        <p> Bine a-ți revenit, <span th:text="${client.lastName} + ' ' + ${client.firstName}"></span>!</p>
    </div>
</div>
</body>
</html>