
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="loginBox">
    <p> Login</p>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            Nume de utilizator sau parolă invalidă!
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Deconectare cu succes!
        </div>
        <input type="text" name="username" placeholder="Nume utilizator">
        <input type="password" name="password" placeholder="Parolă">
        <div class="form-actions">
            <button type="submit" class="button">Autentificare</button>
            <button onclick="location.href='resetPassword'" type="button" class="button"
                    id="resetButton">
                Schimbare parolă</button>
        </div>

    </form>
</div>
</body>
</html>