<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MakeTranscation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <script src="https://kit.fontawesome.com/cdd8dae3e7.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navBar">
    <img th:src="@{/logo.png}" alt="logo">
    <nav>
        <ul class="navLinks">
            <li><a href="/client/accountInfo">Vizualizare cont</a></li>
            <li><a href="/client/makeTransaction">Realizare tranzacții</a></li>
            <li><a href="/client/viewTransactions">Vizualizare tranzacții</a></li>
        </ul>
    </nav>
    <div>
        <a href="/client/clientInfo"><i class="fas fa-user fa-2x" id="clientInfoButton"></i></a>
        <a href="#" th:href="@{/logout}"><i class="fas fa-door-open fa-2x"></i></a>
    </div>
</header>
<div class="operationPanel">
    <form class="generalForm" th:action="@{/client/makeTransaction}" th:object="${transactionRequest}" method="post">
        <div class="flexField">
            <select class="comboBox" th:field="*{receiverType}">
                <option value="IBAN">IBAN:</option>
                <option value="PhoneNumber">Număr de telefon</option>
            </select>
            <label class="arrow">></label>
            <input type="text" name="receiver" th:field="*{receiver}">
        </div>
        <div class="flexField">
            <label>Sumă:</label>
            <input type="text" name="amount" th:field="*{amount}">
        </div>
        <button type="submit" class="button" id="transactionButton" >Realizare tranzacție</button>
        <div th:if="${error != null}" class="errorBox" id="upperErrorBox">
            <p th:text="${error}"></p>
        </div>
    </form>
</div>
</body>
</html>