<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="resetBox">
    <p> Resetare parolă</p>
    <form>
        <input type="text" name="" placeholder="Nume utilizator">
        <input type="text" name="" placeholder="CNP">
        <input type="text" name="" placeholder="Noua parolă">
        <input type="submit" class="button" id="centeredButton" name="" value="Resetare parolă">
    </form>
</div>
</body>
</html>