<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewTransactions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <script src="https://kit.fontawesome.com/cdd8dae3e7.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="navBar">
    <img th:src="@{/logo.png}" alt="logo">
    <nav>
        <ul class="navLinks">
            <li><a href="/client/accountInfo">Vizualizare cont</a></li>
            <li><a href="/client/makeTransaction">Realizare tranzacții</a></li>
            <li><a href="/client/viewTransactions">Vizualizare tranzacții</a></li>
        </ul>
    </nav>
    <div>
        <a href="/client/clientInfo"><i class="fas fa-user fa-2x" id="clientInfoButton"></i></a>
        <a href="#" th:href="@{/logout}"><i class="fas fa-door-open fa-2x"></i></a>
    </div>
</header>
<div class="operationPanel">
    <div class="generalForm">
        <div class="tableContainer" th:if="${message == null}">
            <table class="table" >
                <tr>
                    <th>Număr tranzacție</th>
                    <th>Sumă</th>
                    <th>IBAN cont</th>
                    <th>Deținător cont</th>
                    <th>Data</th>
                </tr>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.sum * -1}" th:if="${transaction.accountFrom.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.accountTo.IBAN}" th:if="${transaction.accountFrom.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.accountTo.client.lastName} + ' '
                    + ${transaction.accountTo.client.firstName}" th:if="${transaction.accountFrom.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.sum}" th:if="${transaction.accountTo.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.accountFrom.IBAN}" th:if="${transaction.accountTo.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.accountFrom.client.lastName} + ' '
                    + ${transaction.accountFrom.client.firstName}" th:if="${transaction.accountTo.
                    client.id == clientId}"></td>
                    <td th:text="${transaction.date}"></td>
                </tr>
            </table>
        </div>
        <p th:if="${message != null}" th:text="${message}"></p>
    </div>
</div>
</body>
</html>